/* *{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
}
.logo{
    font-weight: bold;
    font-size: larger;
}
.navbar{
    background: rgb(130, 222, 176);

}
.logo:hover {
    color: red;
}

.nav-main {
    background-color: rgba(174,174,174,0.57);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
    padding: 0px;
    height: 130px;
} 
.nav-main-ul {
display: flex;
justify-content: center;
gap: 90px;
font-size: large;
}
.nav-main-ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.nav-main-ul li a:hover {
color: red;
}
.nav-social-ul {
    display: flex;
    gap: 30x;
}
ul {
    list-style-type: none;
}
.image:hover {
    scale: 1.20;
} */

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.logo {
    font-weight: bold;
    font-size: larger;
}

.logo:hover {
    color: red;
}

.nav-main {
    background-color: rgba(188, 56, 56, 0.57);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 0 30px;
    height: 70px;
    /* margin: 20px 20px 30px 40px;  */
    /* padding: 20px 20px 30px 40px;  */
    /* border:solid 2px red; */
    /* border-radius: 20px; */
}

.nav-main-ul {
    display: flex;
    justify-content: center;
    gap: 90px;
    font-size: large;
}

.nav-main-ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-main-ul li a:hover {
    color: rgb(29, 170, 95);
}

.nav-social-ul {
    display: flex;
    gap: 30px;
    
}

ul {
    list-style-type: none;
}

.image:hover{
    scale: 1.20;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightsteelblue;
    height: 90vh;
    width: 100vw;
    padding-bottom: 100px;
}
.hero-section h4{
    font-size: 25px;
    background: -webkit-radial-gradient(#e27114,#6e08e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-section h1{
    font-size: 72px;
}
.hero-section2{
    height: 100vh;
    z-index: 100;
}
.filler{
    height: 100vh;
    background-color: rgb(173, 159, 173);
}